.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 4px 0px 0px hsl(0, 0%, 98%);
}

.navbar-container__h4 {
  margin-left: 3em;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
}

.navbar-mode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3em;
}

.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent;
}
.gg-moon::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.navbar-mode-container__p {
  margin-left: 0.3em;
}
